

$logo_height: 40px;
$nav_width: 300px;

@media (min-width: $mobile_width) {
}

#menu_button {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    background: url('../images/menu.svg') no-repeat center;
    background-size: 30px;
    text-indent: -9999px;
    cursor: pointer;


    @media (min-width: 768px) {
        display: none;
    }

}

header {
    background: white;
    padding: 20px 0;
    border-bottom: 4px solid $yellow;
    margin: 0;
    position: relative;
    z-index: 100;


    .header_inner {
        display: flex;
        flex-wrap: wrap;
    }

    nav, #branding {
        flex: 1 auto;

    }

    a#branding {
        display: inline-block;
        height: $logo_height;
        width: #{($logo_height * 2.821348223 )}; // logo ratio w/h = 2.821348223
        background: url('../images/logo.svg') no-repeat center left;
        background-size: contain;
        text-indent: -9999px;



    }



    nav {

        color: white;
        position: relative;

        ul {
            padding: 0;
            position: fixed;
            transition: all 0.3s;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100vh;
            width: $nav_width;
            overflow: scroll;
            background: transparentize($font_color, 0.03);
            margin: 0;
            transform: translateX(#{$nav_width * -1 });

            &.menu_visible {
                transform: translateX(0);
            }


            // MENU FOR DESKTOP
            @media (min-width: $mobile_width) {
                transform: translateX(0);
                display: block;
                margin: 0;
                position: static;
                height: auto;
                width: auto;
                background: none;
                overflow: visible;
                text-align: right;

            }



            li {
                display: block;
                padding: 0 0 ;
                margin: 0;
                line-height: 1;
                position: relative;
                transition: all 0.3s;

                @media (min-width: 768px) {
                    display: inline-block;
                }


                a {
                    display: block;
                    color: $pink;
                    text-decoration: none;
                    padding:  15px;
                    margin:  0 0;
                    position: relative;
                    &:link, &:visited, &:active {
                        color: $pink;
                    }

                    &:hover {
                        background: darken($pink, 10);
                        color: white;
                    }

                    @media (min-width: 768px) {
                        display: inline-block;
                        padding: 10px;
                    }
                }




                &:hover {


                }

            } // end of li





        } // end of ul



    } // end of nav


}



//
// $nav_width: 300px;
// $logo_height: 40px;
//
// header {
//     background: white;
//     padding: 20px 0;
//     border-bottom: 4px solid $yellow;
//
//
//     .header_inner {
//         display: flex;
//         flex-wrap: wrap;
//     }
//
//     nav, #branding {
//         flex: 1 auto;
//
//     }
//
//
//
//     #branding {
//         text-indent: -9999px;
//         background: url('../images/logo.svg') no-repeat center left;
//         background-size: contain;
//         height: $logo_height;
//         width: #{($logo_height * 2.821348223 )}; // logo ratio w/h = 2.821348223
//         display: inline-block;
//         &:hover {
//             transform: scale(1.1);
//         }
//     }
//
//
//
//     nav  {
//         text-align: right;
//         ul {
//             margin: 0;
//             padding: 0;
//             li {
//                 display: inline-block;
//                 margin: 0;
//                 padding: 0;
//             }
//         }
//     } // end of nav
//
//     a {
//         display: inline-block;
//         color: $pink;
//         padding: 10px;
//         &:link,&:active,&:visited,&:hover {
//             color: $pink;
//         }
//     } // end of a
//
// } // end of header
//
//
// #menu_button {
//     display: inline-block;
//     height: 30px;
//     width: 30px;
//     position: absolute;
//     top: 60px;
//     right: 10px;
//     background: url('../images/menu.svg') no-repeat center;
//     background-size: cover;
//     text-indent: -9999px;
//     cursor: pointer;
//
//
//     @media (min-width: 768px) {
//         display: none;
//     }
//
// }
