

@import 'variables';
@import 'reset';
@import 'typography';
@import 'header';
@import 'footer';
@import 'slick';

@media (min-width: $mobile_width) { }
@media (min-width: $tablet_width) { }
@media (min-width: $browser_width) { }

body {
    font: normal 62.5%  $font_stack;
    background: white;
    position: relative;
    color: $font_color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}



section {
    padding: 50px 0;
}

.box {
    padding: 20px;
    margin: 0 0 20px;
    background: $light_grey;

    h3 {
        a {
            color: inherit;
        }
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 ;
    }

    a.button  {
        margin-top: 10px;
    }


    &.green_box {
        background-color: $green;
        color: white;


    }
    &.yellow_box {
        background-color: $yellow;
        color: $font_color;

        a.button {
            background-color: $green;
            color: white;
        }

    }
    &.pink_box {
        background-color: $pink;
        color: $font_color;

        a.button {
            background-color: $blue;
            color: white;
        }
    }
    &.brown_box {
        background-color: $brown;
        color: white;
    }
    &.blue_box {
        background-color: $blue;
        color: white;
    }

    &.box_cat_1 {
        border-top: 5px solid $blue;
        a.button {
            background: $blue;
            color: white;
        }
    }
    &.box_cat_2 {
        border-top: 5px solid $green;
        a.button {
            background: $green;
            color: white
        }
    }
    &.box_cat_3 {
        border-top: 5px solid $yellow;
        a.button {
            background: $yellow;
        }
    }
    &.box_cat_4 {
        border-top: 5px solid $pink;
        a.button {
            background: $pink;
        }
    }
    &.box_cat_5 {
        border-top: 5px solid $brown;
        a.button {
            background: $brown;
             color: white;
        }
    }




} // END OF BOX


.box_header_offset {
    position: relative;
    top: 25px;
    color: $font_color;
}




section#student_slider_section {
    position: relative;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    .welcome_text {
        flex: 1 auto;
        align-self: center;
        z-index: 20;
        background: transparentize($font_color, 0.45);
        color: white;
        padding: 40px;
        max-width: 600px;
        text-align: center;

        p {
            font-size: 2em;
        }

    }
    #student_slider {
        position: absolute;
        height: 100%;
        top:0;
        left: 0;
        width: 100%;
        .slide {
            height: 500px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    } // END #student_slider
} // student_slider_section





.letter_background {
    background: url('../images/letters.svg') repeat ;
    background-size: 280px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;


}


section#home_page_search {
    background: $pink;
    padding: 30px ;
    position: relative;
    border-top: 4px solid darken($pink, 5);
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 3;

        input, select, button {
            flex: 1 auto;
            width: 48%;
            max-width: 48%;
            display: inline-block;
            margin: 0 0 20px;


            @media (min-width: $mobile_width) {
                width: 23%;
                max-width: 23%;
                margin: 0;
            }
        }

        select {
            appearance: none;
            cursor: pointer;
            background: white url('../images/chevron_down.svg') no-repeat 95% center;
            background-size: 10px;

        }
        input[type="submit"], button {
            text-indent: -10px;
            position: relative;
            &:after {
                content:'';
                background: url('../images/search.svg') no-repeat center center;
                width: 15px;
                background-size: contain;
                height: 100%;
                display: inline-block;
                position: absolute;
                top: 0px;
                margin-left: 10px;

            }
        }




    }

} // #home_page_search





section#latest_workshop { } // #latest_workshop
section#latest_course { } // #latest_course
section#become_teacher { } // #become_teacher
section#become_member { } // #become_member

.big_title {
    font-size: 4.5em;
    position: relative;
    display: block;
    margin: 0 0 30px;

    &:after {
        content: '';
        width: 300px;
        border-bottom: 3px dotted transparentize(black, 0.5);
        position: absolute;
        bottom: 4px;
        left: 0;
    }

}
.col-sm-right {
    .big_title {
        &:after {
            left: auto;
            right: 0;
        }
    }

}




#search_results {
    aside {
        background: $light_grey;
        padding: 20px 20px 10px;
    }
    form {
        input, select, button {
            margin-bottom: 20px;
        }
    }
    .box {


        img {
            opacity: 0.75;
            transition: all 0.3s;
        }
        &:hover {
            img {
                opacity: 1;
            }
        }
    }
}
