


h1,h2,h3,h4,h5,h6 {
    line-height: 110%;
}

h1 {
    font-size: #{$font_size * 2.3};
    padding: 0 0 30px;


}
h2 {
    font-size: #{$font_size * 1.7};
    padding: 0 0 20px;


}

h3 {
    font-size: #{$font_size * 1.5};
    padding: 0 0 10px;


}


h4 {
    font-size: #{$font_size * 1.2};
    padding: 0 0 10px;
}


.for_screen_readers {
    visibility: hidden;
    height: 0;
    display: none;
    margin: 0;
    padding: 0;
}




p {
    padding: 0 0 30px;
    font-size: $font_size;
    line-height: 150%;
}

li {
    font-size: $font_size;
    padding: 0 0 5px;
}


strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
    font-weight: 300;
}

a {

    transition: all 0.3s;

    &:link, &:visited, &:active, &:hover {
        color: $red;
        text-decoration: none;
    }
    &:hover {

    }

    &:focus {
        box-shadow: 0 0 5px $red;
    }

    &.button {
        display: inline-block;
        padding: 10px 30px;
        background: $yellow;
        color: $font_color;
        font-weight: bold;
        font-size: $font_size;
        &:hover {
            transform: scale(1.1);

        }
        &.margin_top {
            margin-top: 20px;
        }
        &.margin_bottom {
            margin-bottom: 20px;
        }
    }


}



form {

    h4 {
        font-size: $font-size;
    }

}

input, textarea, select, button {
    padding: 10px;
    border: 0;
    border-radius:  0;
    font-family: $font_stack;
    font-size: $font_size;
    margin: 0 0 10px;
    width: 100%;
    box-shadow:  0 3px 0 0 transparent inset;
    transition:  all 0.3s;
    &:focus {

    }
}

.form_field {
    margin: 0 0 25px;

    &.field_error {
        label {
            color: $red;
        }
        input, select, textarea {
            border: 1px solid $red;
        }
    }

}

label {
    display: block;
    font-size: $font-size;
    font-weight: bold;
    padding: 0 0 5px;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;

}



label.radio_label, label.checkbox_label {

    padding: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0;





}

label.checkbox_label {

    position: relative;


    span {
        padding-left: 30px;
        padding-bottom: 5px;
        padding-top: 5px;

        display: inline-block;


    }


    input {
        appearance:none;
        background: white;
        transition: all 0.3s;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid transparentize($font_color, 0.5);
        display: inline-block;
        width: auto;
        position: absolute;
        left: 0;
        top: 3px;

        &:hover {
            background-color: transparentize($green, 0.9);
        }

        &:focus {
            background-color: transparentize($green, 0.9);
            box-shadow: 0 0 10px transparentize($green, 0.9);
        }

        &:checked {
            background: $green;
        }
    }

}

label.radio_label {
    font-size: #{$font_size * 0.8};

    span {
        transition: all 0.3s;
        display: inline-block;
        padding: 7px;
        text-transform: uppercase;
        border-radius: 5px;
        margin: 0 5px 5px 0;
        letter-spacing: 0.5px;
        // background:  $light_grey;
        background: transparentize(white, 0.5);
        &:hover {
            // background: white;
            color: $font_color;
            background:    scale-color($green, $lightness: 15%);
        }
    }

    input {
        display: none;
    }


    input:checked + span {
        background: $green;
        color: white;
    }
}










select {
    appearance: none;
    cursor: pointer;
    background: white url('../images/chevron_down.svg') no-repeat 95% center;
    background-size: 10px;
}

input[type="submit"], button {
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    background: $blue;
    color: white;
    &:hover {
        background-color: darken($blue, 10);
    }
}


table {
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;
  text-align: center;
  border-bottom: solid 1px #555;
  border-right: solid 1px #555;
  margin-bottom: 30px;

  td, th {
    padding: 8px 0  3px;
    border-top: solid 1px #555;
    border-left: solid 1px #555;
  }
}

p+ul {
  margin-top: -30px;
}

ul {
  margin-left: 30px;
  list-style: circle;
}
